* {
    box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
  font-size: 40px;
  background: white;
  margin-top: -50%;
}

.header {
  margin: auto;
  background-color: grey;
  width: 80%;
  height: 200px;
  text-align: center;
}

.projects {
  margin: auto;
  background-color: pink;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  background-color: white;
  width:20%;
  padding-top: 20%;
  margin-bottom: 2px;
  overflow: hidden;
  transition: background-image 2s ease-in-out;
}

#project {
  position: relative;
  /*width:20%;
  padding-top: 20%;*/
}

#project img {
  position: absolute;
  margin-top: -100%;
  left:0;
  transition: opacity 1s ease-in-out;
}

#project img .top:hover {
  opacity: 0;
}

#gq {
  background-image: url(/images/gq.png);
  background-repeat:no-repeat;
  background-position: top;
}

/*#gq:hover {
  background-image: url(/images/test.png);
  background-repeat:no-repeat;
  background-position: top;
}

#gq:hover p {
  background-color: black;
  color: yellow;
}*/

#test {
  background-image: url(/images/test.png);
  background-repeat:no-repeat;
  background-position: top;
}
